

@import "custom/common";
@import "custom/custom";
@import "custom/animations";
@import "custom/polices";
@import "custom/navbar";


:root {
  --clair: #f9f9f9;
  --fonce: #111;
  --rose: #e752e7;
  --marron: #c07f2a;
}