
@import "custom/main";
@import "custom/polices";
@import "custom/common";
@import "custom/custom";

.midFlex,
.flexMid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posMid,
.midPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


