

.midFlex,
.flexMid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posMid,
.midPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transX{
  left:50%;
  transform: translateX(-50%);
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.dark .box-shadow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dark .text-shadow {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

