.entete {
  width: 100vw;
  height: 90vh;
  border-top: 2px solid #c07f2a;
  border-bottom: 2px solid #c07f2a;
  box-shadow: 0px 3px 3px #c07f2a;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Labrada";


  .entete-title {
    width: 100%;
    height: 100%;

    span {
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }
  .entete-title-h1 {
    font-size: clamp(18px, (calc(8px + 4.8vw)), 60px);
  }
  .entete-title-h2 {
    font-size: clamp(16px, (calc(6px + 3.8vw)), 50px);
  }
}
.entete-title-h1 {
  font-size: clamp(18px, (calc(8px + 4.8vw)), 60px);
}
/* Media query pour les smartphones */
@media (max-width: 768px) {
  .entete {
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
}

.filter-blur {
  backdrop-filter: blur(8px);
}

@media (max-width: 610px) {
  .entete {
    height: 40vw;
    // background-attachment: scroll;
    background-position: center top;
  }
}
@media (max-width: 480px) {
  .entete {
    height: 40vw;
    // background-attachment: scroll;
    background-position: center top;
  }
}

.whiteShadow {
  text-shadow: 0px 0px 5px white;
}
.blackShadow {
  text-shadow: 0px 0px 5px black;
}


.apparitionH1 {
  animation: apparitionH1 0.75s ease-in-out forwards;
}
@keyframes apparitionH1 {
  
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}
.apparitionH2 {
  animation: apparitionH2 0.75s ease-in-out 0.25s forwards;
}
@keyframes apparitionH2 {
  
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}