// @import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');

// .h1 {
//   font-size: clamp(32px, calc(22px + 2.2vw), 60px);
//   letter-spacing: calc(1px + 0.10vw);
//   font-weight: bold;
//   font-family: "Labrada";
// }
// .h2 {
//   font-size: clamp(23px, calc(18px + 1.65vw), 40px);
//   letter-spacing: calc(1px + 0.035vw);
//   font-weight: bold;
//   font-family: "Labrada";
// }
// .h3 {
//   font-size: clamp(20px, calc(18px + 1vw), 29px);
//   letter-spacing: calc(1px + 0.018vw);
//   font-weight: bold;
//   font-family: "Labrada";
// }
// .h4 {
//   font-size: clamp(18px, calc(13px + 0.7vw), 22px);
//   letter-spacing: calc(1px + 0.008vw);
//   font-weight: bold;
//   font-family: "Labrada";
// }
// .h5 {
//   font-size: clamp(16px, calc(11px + 0.4vw), 18px);
//   letter-spacing: calc(0.8px + 0.008vw);
//   font-weight: bold;
//   font-family: "Labrada";
// }
// .p {
//   font-size: clamp(13px, calc(11px + 0.4vw), 18px);
//   line-height: clamp(27px, calc(22px + 0.66vw), 33px);;
//   // font-family: "Roboto";
//   font-family: "Reem Kufi fun";
// }

